* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.head {
  width: 100vw;
  font-size: 20px;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.footer {
  width: 100vw;
  height: fit-content;
  font-size: 15px;
  color: white;
  padding: 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.container {
  /* width: 900px; */
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px;
  flex: 1;
}

